@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]= "Hotel Bookings";
}
<head>
    <style>
    h1{text-align: center
    }
    </style>
</head>
<body>
    <h1>Welcome to my Hotel booking Assignment</h1>
</body>
